<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="WebRTC code samples">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1">
    <meta itemprop="description" content="Client-side WebRTC code samples">
    <meta itemprop="image" content="../../../images/webrtc-icon-192x192.png">
    <meta itemprop="name" content="WebRTC code samples">
    <meta name="mobile-web-app-capable" content="yes">
    <meta id="theme-color" name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <base target="_blank">
    <title>Identification of text and Face Recognition using ML</title>
  </head>
  <body>
    <div class="container">
    <h2 class="bg-primary text-white" style="padding:10px;margin:10px;margin-right:10px;text-align:center">Identification of text and Face Recognition using ML</h2>
    </div>
    <div class="container">
      <img class="img-circle position-static mw-100 mh-100" src="{{url_for('static',filename="blind2.jpg")}}" style="padding:10px;" alt="Generic placeholder image" width="640" height="480">
        <a type="button" id="button1" href="{{ url_for('text')}}" class="btn btn-primary btn-lg btn-block">Text Recognition</a>
        
        <button type="button" id="button2" class="btn btn-primary btn-lg btn-block">Face Recognition</button>
        
      </div>
      
    </div>

    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script  src = "{{ url_for('static', filename = 'text.js') }}" ></script>
  </body>
</html>
